*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Archivo', sans-serif;
}

body{
    background-color: #f9f6f1;
    max-width: 1024px;
    margin: 0 auto;
}
    
    .nav-header {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }
    
    .burguer {
        display: block;
        cursor: pointer;
    }
    .burguer2 {
        display: block;
        cursor: pointer;
        padding-left: 30px;
        padding-top: 20px;
    }
   
    #lugar {
        width: 250px;
        background-color: papayawhip;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
    }
    menu > ul {
        padding: 15px;
        list-style-type: none;
        background-color: papayawhip;
        padding-top: 30px;
    }
    menu > ul > li {
        height: 45px;
        font-size: 1.3em;
        text-align: left;
    }
    menu > ul > li > a {
        margin: auto;
        color: black; 
    }
    nav a {
        display: none;
        text-decoration: none;
        color: white;
        padding: 20px;
    }
    nav a:hover {
        text-decoration: underline;
        color: #f03434;
    }

main{
    width: 90%;
    margin: 0 auto;
}

.container-comment h2{
    font-size: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    gap: 20px;
}

form label{
    font-size: 1.4rem;
}

form textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: #e4e4e4;
    border-radius: 8px;
    padding: 10px;
}

form button{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

form button:hover{
    background-color: #f03434;
}


footer{
    width: 90%;
    margin: 0 auto;
    padding: 24px 0;
}

@media (min-width: 768px){

    .nav{
        display: flex;
    }

    .nav a{
        display: block;
        color: black;
        font-size: 1.4rem;
    }

    .nav a:nth-child(3){
        background-color: black;
        color: white;
        border-radius: 8px;
        font-weight: bold;
    }

    .nav a:nth-child(3):hover{
        background-color: #f03434;
    }


    .burguer{
        display: none;
    }

    main{
        max-width: 800px;
    }
}